/* Presentation CSS overrides */

/* My overrides for the presentation itself */
.reveal blockquote
{
  background: rgba(30,30,30,0.5);
  padding: 1em;
  border: 1px solid #fff;
  border-radius: 4px;
}

.image-float
{
  float: left;
}

.reveal .content-aside
{
  margin-top: 1em;
}

.reveal .backgrounds 
{
  -webkit-filter: blur(10px);
  -moz-filter: blur(100px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.reveal .title-div
{
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  padding: 2em;
}

.reveal .highlight
{
  color: #ff0;
}

/* Overrides for the reveal.js-menu plugin */
.reveal .slide-menu {
  background-color: #000 !important;
  width: 500px !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  background: rgba(48, 48, 48, 0.7) !important;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(50,50,50,0.5)) !important;
}

.reveal .slide-menu--left {
  -webkit-transform: translateX(-500px) !important;
  -ms-transform: translateX(-500px) !important;
  transform: translateX(-500px) !important;
}

.reveal .slide-menu--left.active {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.reveal .slide-menu--right {
  -webkit-transform: translateX(500px) !important;
  -ms-transform: translateX(500px) !important;
  transform: translateX(500px) !important;
}

.reveal .slide-menu--right.active {
  -webkit-transform: translateX(0) !important;
  -ms-transform: translateX(0) !important;
  transform: translateX(0) !important;
}

.reveal .active-menu-panel li.selected {
  background-color: #000 !important;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%) !important;
}

.reveal .slide-menu-toolbar {
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.4) 0%, rgba(255,255,255,0.2) 50%) !important;
}
